.features {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #212121;
  color: #fff;
}
.features .title {
  color: #fff;
}
.features .title:after {
  background: #fff;
}
@media only screen and (min-width: 768px) {
  .features {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.features-inner {
  color: #454545;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .features-inner {
    padding: 20px 100px;
  }
}
.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 980px) {
  .features-list {
    padding: 0 100px;
  }
}

.feature-item {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 16px 60px;
  color: #ccc;
}
@media only screen and (min-width: 768px) {
  .feature-item {
    width: 33.33334%;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 980px) {
  .feature-item {
    padding-right: 40px;
  }
}

.feature-item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
}
.feature-link {
  color: #fff;
}
.feature-link:hover, .feature-link:focus {
    color: #fff;
  }

.feature-icon:before {
  content: '';
  width: 80px;
  height: 80px;
  display: block;
  padding-left: 100px;
  margin: 20px auto;
}
.feature-icon-timer:before {
  background: url(../img/timer.svg) 50% 50% no-repeat;
}
.feature-icon-rings:before {
  background: url(../img/rings.svg) 50% 50% no-repeat;
}
.feature-icon-speaker:before {
  background: url(../img/speaker.svg) 50% 50% no-repeat;
}
.feature-icon-shoe:before {
  background: url(../img/shoe.svg) 50% 50% no-repeat;
}
.feature-icon-headphones:before {
  background: url(../img/headphones.svg) 50% 50% no-repeat;
}
.feature-icon-laptop:before {
  background: url(../img/laptop.svg) 50% 50% no-repeat;
  position: relative;
  transform: translate(0, 10px);
}