// Banner

.banner {
  padding: 60px 20px;
  background: $red;
  color: $dark-grey;
  text-align: center;
  @include breakpoint(m) {
    padding: 60px 0px;
    text-align: left;
  }
}
.banner-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @include breakpoint(m) {
    text-align: left;
    width: $breakpoint-m;
  }
  @include breakpoint(l) {
    width: $breakpoint-l;
  }
}

.banner-inner {
  @include breakpoint(m) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include breakpoint(l) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.banner-title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  color: $white;
}
.banner-content {
  font-size: 18px;
  line-height: 26px;
  padding: 40px 20px 0 20px;
  color: $white;
  @include breakpoint(m) {
    width: 50%;
    padding: 120px 0 0 0;
  }
  @include breakpoint(xl) {
    width: 50%;
    padding-right: 120px;
  }
}

.banner-content-inner {
  padding-top: 20px;
  @include breakpoint(l) {
    width: 80%;
  }
}

.phone {
  width: 240px;
  height: 430px;
  display: block;
  background: $white;
  position: relative;
  border: 2px solid $dark-grey;
  border-radius: 10px;
  margin: 50px auto 0 auto;
  padding: 10px;
  @include breakpoint(m) {
    width: 224px;
    height: 400px;
    margin: 100px 0 0 auto;
  }
  @include breakpoint(l) {
    margin-right: 60px;
  }
  &:before, &:after {
    content: '';
    display: block;
    background: #111;
    position: absolute;    
  }
  &:before {
    width: 2px;
    height: 130px;
    border-radius: 10px;
    top: 8%;
    right: 0;
    background: linear-gradient(to bottom, rgba(17,17,17,0) 14%,rgba(17,17,17,1) 15%,rgba(17,17,17,1) 40%,rgba(17,17,17,0) 41%,rgba(17,17,17,0) 50%,rgba(17,17,17,1) 51%,rgba(17,17,17,1) 70%,rgba(17,17,17,0) 71%,rgba(17,17,17,0) 74%,rgba(17,17,17,1) 75%,rgba(17,17,17,1) 95%,rgba(17,17,17,0) 96%);
    margin-right: -4px;
  }
  &:after {
    width: 50px;
    height: 2px;
    border-radius: 10px;
    display: block;
    left: 50%;
    margin-left: -25px;
    bottom: 14px;
  }
}
.video, .banner-video {
  width: 100%;
  height: 385px;
  @include breakpoint(m) {
    height: 355px;
  }
}
.video {
  position: relative;
}

.banner-play {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border: 0;
  @include background-alpha($dark-grey, 50%);
  z-index: 1000;
  transition: .2s all;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -40px;
    border-color: transparent transparent transparent $white;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 40px 0 40px 60px;
    transition: .2s all;
  }
}
.play {
  opacity: 0;
}

.banner-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  border: 0;
  margin-top: 20px;
  border-radius: 30px;
  padding: 20px 60px;
  display: inline-block;
  background: $dark-grey;
  color: $white;
  -webkit-appearance: none;
  &:hover, &:focus {
    background: $white;
    color: $dark-grey;
  }
}