// Banner

.banner-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @include breakpoint(m) {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    width: 100%;
  }
  @include breakpoint(l) {
    width: 75%;
  }
}

.banner {
  padding-left: 20px;
  padding-right: 20px;
  background: $red;
  color: $white;
  padding-top: 40px;
  overflow: hidden;
  @include breakpoint(m) {
    padding-left: 0;
    padding-right: 0;
    height: 485px;
  }
  @include breakpoint(l) {
    height: 540px;
  }
}

.banner-col-1 {
  @include breakpoint(m) {
    float: left;
    width: 65%;
  }
  @include breakpoint(l) {
    width: 70%;
  }
}
.banner-col-2 {
  @include breakpoint(m) {
    float: right;
    width: 35%;
  }
  @include breakpoint(l) {
    width: 30%;
  }
}

.banner-content {
  padding-top: 40px;
  @include breakpoint(m) {
  padding-bottom: 40px;
    width: 80%;
    padding-top: 60px;
    padding-bottom: 0;
  }
  @include breakpoint(xl) {
    width: 70%;
  }
}
.banner-title {
  font-size: 36px;
  line-height: 44px;
  color: $white;
}

.banner-content-inner {
  padding-top: 20px;
  padding-bottom: 20px;
  @include breakpoint(m) {
    width: 75%;
  }
  @include breakpoint(l) {
    width: 80%;
  }
}

.banner-video {
  top: -3px;
  left: 0px;
  position: relative;
  display: block;
  width: 230px;
  height: 345px;
  @include breakpoint(m) {
    width: 245px;
    height: 370px;
  }
  @include breakpoint(l) {
    width: 280px;
    height: 420px;
  }
}

.phone {
  width: 260px;
  height: 390px;
  margin: 0 auto -30px auto;
  border-radius: 20px;
  background: $lightest-grey;
  border: 1px solid $grey;
  @include breakpoint(m) {
    width: 277px;
    height: 400px;
    position: relative;
    bottom: -10px;
  }
  @include breakpoint(l) {
    width: 312px;
    height: 520px;
    position: relative;
  }
}
.phone-inner {
  width: 230px;
  height: 342px;
  border-top: 1px solid $light-grey;
  border-left: 1px solid $light-grey;
  border-right: 1px solid $light-grey;
  position: relative;
  top: 20px;
  left: 14px;
  overflow: hidden;
  @include breakpoint(m) {
    left: 15px;
    width: 245px;
    height: 365px;
  }
  @include breakpoint(l) {
    width: 280px;
    height: 415px;
  }
}

.banner-play {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border: 0;
  @include background-alpha($black, 50%);
  z-index: 1000;
  transition: .2s all;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -40px;
    border-color: transparent transparent transparent $white;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 40px 0 40px 60px;
    transition: .2s all;
  }
}
.play {
  opacity: 0;
}

.banner-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  border: 0;
  margin-top: 10px;
  border-radius: 5px;
  padding: 14px 24px;
  background: $white;
  color: $red;
  border: 2px solid $white;
  &:hover {
    background: transparent;
    color: $white;
  }
}