// Footer

.footer {
  font-size: 13px;
  line-height: 18px;
  padding-top: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: $dark-grey;
  color: $lightest-grey;
}