// Overview

.overview {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  @include breakpoint(m) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.overview-inner {
  color: $grey;
  padding: 20px;
  @include breakpoint(m) {
    padding: 20px 100px;
  }
}
.overview-list {
  list-style: none;
  padding: 0;
  margin: 0;
  @include breakpoint(m) {
    display: flex;
    flex-wrap: wrap;
  }
  @include breakpoint(l) {
    padding: 0 100px;
  }
}

.overview-item {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 100px;
  padding-right: 20px;
  @include breakpoint(m) {
    width: 50%;
    padding-right: 40px;
  }
  @include breakpoint(l) {
    padding-right: 40px;
  }
}

.overview-item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.overview-icon:before {
  content: '';
  width: 80px;
  height: 80px;
  display: block;
  padding-left: 100px;
  position: absolute;
  left: 0;
  top: 15px;
}
.overview-icon-top:before {
  background: url(../img/top.svg) 50% 50% no-repeat;
}
.overview-icon-strength:before {
  background: url(../img/strength.svg) 50% 50% no-repeat;
}
.overview-icon-watch:before {
  background: url(../img/watch.svg) 50% 50% no-repeat;
}
.overview-icon-whistle:before {
  background: url(../img/whistle.svg) 50% 50% no-repeat;
}