// Website Variables and Colours

// Website Colours
$black: #000;
$white: #fff;
$red: #ff473a;
$grey: #454545;
$dark-grey: #212121;
$light-grey: #ccc;
$lighter-grey: #f3f3f3;
$lightest-grey: #f1f1f1;

$base-font-size: 16;
$base-line-height: 22;

// Website Variable Overrides
$base-font-family: "Montserrat", sans-serif;
$base-heading-font-family: "Montserrat", sans-serif;

$base-font-weight: 500;
$base-font-size: 14;
$base-line-height: 20;
$base-font-color: #212121;
$base-link-color: #ff473a;
$base-link-hover-color: #ff473a;

$base-h1-font-size: 40;
$base-h1-line-height: 46;
$base-h1-font-weight: 700;
$base-h2-font-weight: 700;
$base-h2-font-size: 30;
$base-h2-line-height: 36;
$base-h3-font-weight: 500;
$base-h4-font-weight: 500;
$base-h5-font-weight: 500;
$base-h6-font-weight: 500;